@import '~antd/dist/antd.css';

html,body{
  width: 100%;
  height: 100%;
}
#root,.ant-layout{
  height: 100%;
}
.ant-layout-header{
  background-color: #fff;
}
.site-layout .site-layout-background{
  background-color: #fff;
}
.logo{
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  margin: 10px;
}

.formContainer{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  border-radius: 10px;
}
.logintitle{
  color:#fff;
  font-size:30px;
  text-align: center;
  margin-bottom: 20px;
}
